/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@font-face {
  font-family: 'Inter';
  font-weight: 300;
  src: local('Inter-Light'), url('./assets/fonts/Inter/Inter-Light.woff2') format('woff2'),
    url('./assets/fonts/Inter/Inter-Light.woff') format('woff'),
    url('./assets/fonts/Inter/Inter-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-weight: 400;
  src: local('Inter-Regular'), url('./assets/fonts/Inter/Inter-Regular.woff2') format('woff2'),
    url('./assets/fonts/Inter/Inter-Regular.woff') format('woff'),
    url('./assets/fonts/Inter/Inter-Regular.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter-Bold'), url('./assets/fonts/Inter/Inter-Bold.woff2') format('woff2'),
    url('./assets/fonts/Inter/Inter-Bold.woff') format('woff'),
    url('./assets/fonts/Inter/Inter-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  --black-text: #111111;
  --gray-text: #3f4e65;
  --light-gray: #ededed;
  --orange: #ffc85e;
}

html {
  font-size: 14px;
  font-weight: 400;
}

body {
  margin: 0;

  font-family: 'Inter', sans-serif;
}

a {
  color: var(--gray-text);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  text-shadow: 0 0 1px var(--gray-text);
}

p {
  margin: 0;
}

.btn {
  font-weight: bold;
  color: #ffffff;

  background-color: var(--orange);
  border: none;
  border-radius: 5.5rem;
}

.btn:hover {
  text-shadow: none;

  background-color: #ffc85ecc;
  cursor: pointer;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.wrapper {
  max-width: 1370px;
  margin: auto;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-container {
  padding: 1rem 0;
  border-bottom: 1px solid #3f4e6533;
}

.nav-container {
  display: flex;
  column-gap: 4.3rem;
}

.group-container {
  width: 35.5rem;
}

.element-container {
  position: relative;

  width: auto;
  box-sizing: border-box;
  flex-wrap: wrap;
  padding-left: 2.5rem;
}

.main-text {
  font-weight: bold;
  color: var(--black-text);
}

.additional-text {
  font-size: 0.8rem;
  font-weight: 300;
  color: var(--gray-text);
}

.small-text {
  font-size: 10px;
  font-weight: 400;
  text-decoration-line: underline;
}

.location::before,
.email:before {
  position: absolute;
  top: calc(50% - 10px);
  left: 0;
}

.location::before {
  content: url('./assets/img/icons_location.svg');
}

.email::before {
  content: url('./assets/img/icons_letter.svg');
}

.header-container {
  padding: 5px 0 1rem;
  border-bottom: 1px solid #3f4e6533;
}

.catalog-btn {
  padding: 1.5rem 5.7rem 1.5rem 3.5rem;

  background: url('./assets/img/icons_btn.svg') no-repeat top 1.5rem right 3.5rem, var(--orange);
}

.price-btn {
  padding: 1.5rem 4.5rem 1.5rem 3rem;

  background: url('./assets/img/icons_download.svg') no-repeat top 1.5rem right 3rem, var(--orange);
}

.search-btn {
  box-sizing: border-box;

  padding: 20px;
  width: 263px;
  height: 59px;
  background-color: var(--light-gray);
}

.search-btn::placeholder {
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--gray-text);
}

.search-icon {
  position: relative;
}

.search-icon::before {
  content: '';
  position: absolute;
  top: 10px;
  right: 10px;

  width: 40px;
  height: 40px;

  border-radius: 50%;
  background: url('./assets/img/icons_search.svg') no-repeat center, var(--orange);
}

.contants {
  height: 92px;
  padding: 0 85px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 5px;

  background: url('./assets/img/call-center.png') no-repeat center right;
}

.cart-block {
  position: relative;

  padding-left: 70px;
  height: 46px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background: url('./assets/img/icons_cart.svg') no-repeat center left;
}

.goodsCount {
  position: absolute;
  top: 0;
  left: 34px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;

  font-weight: bold;
  color: #ffffff;

  background-color: var(--orange);
  border-radius: 50%;
}
