@font-face {
  font-family: 'Inter';
  font-weight: 300;
  src: local('Inter-Light'), url('./assets/fonts/Inter/Inter-Light.woff2') format('woff2'),
    url('./assets/fonts/Inter/Inter-Light.woff') format('woff'),
    url('./assets/fonts/Inter/Inter-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-weight: 400;
  src: local('Inter-Regular'), url('./assets/fonts/Inter/Inter-Regular.woff2') format('woff2'),
    url('./assets/fonts/Inter/Inter-Regular.woff') format('woff'),
    url('./assets/fonts/Inter/Inter-Regular.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter-Bold'), url('./assets/fonts/Inter/Inter-Bold.woff2') format('woff2'),
    url('./assets/fonts/Inter/Inter-Bold.woff') format('woff'),
    url('./assets/fonts/Inter/Inter-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  --black-text: #111111;
  --gray-text: #3f4e65;
  --light-gray: #ededed;
  --orange: #ffc85e;
}

html {
  font-size: 14px;
  font-weight: 400;
}

body {
  margin: 0;

  font-family: 'Inter', sans-serif;
}

a {
  color: var(--gray-text);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  text-shadow: 0 0 1px var(--gray-text);
}

p {
  margin: 0;
}

.btn {
  font-weight: bold;
  color: #ffffff;

  background-color: var(--orange);
  border: none;
  border-radius: 5.5rem;
}

.btn:hover {
  text-shadow: none;

  background-color: #ffc85ecc;
  cursor: pointer;
}

input.btn {
  color: var(--gray-text);
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.wrapper {
  max-width: 1370px;
  margin: auto;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-container {
  padding: 1rem 0;
  border-bottom: 1px solid #3f4e6533;
}

.nav-container {
  display: flex;
  column-gap: 4.3rem;
}

.group-container {
  width: 35.5rem;
}

.element-container {
  position: relative;

  width: auto;
  box-sizing: border-box;
  flex-wrap: wrap;
  padding-left: 2.5rem;
}

.main-text {
  font-weight: bold;
  color: var(--black-text);
}

.additional-text {
  font-size: 0.8rem;
  font-weight: 300;
  color: var(--gray-text);
}

.small-text {
  font-size: 10px;
  font-weight: 400;
  text-decoration-line: underline;
}

.location::before,
.email:before {
  position: absolute;
  top: calc(50% - 10px);
  left: 0;
}

.location::before {
  content: url('./assets/img/icons_location.svg');
}

.email::before {
  content: url('./assets/img/icons_letter.svg');
}

.header-container {
  padding: 5px 0 1rem;
  border-bottom: 1px solid #3f4e6533;
}

.catalog-btn {
  padding: 1.5rem 5.7rem 1.5rem 3.5rem;

  background: url('./assets/img/icons_btn.svg') no-repeat top 1.5rem right 3.5rem, var(--orange);
}

.price-btn {
  padding: 1.5rem 4.5rem 1.5rem 3rem;

  background: url('./assets/img/icons_download.svg') no-repeat top 1.5rem right 3rem, var(--orange);
}

.search-btn {
  box-sizing: border-box;

  padding: 20px;
  width: 263px;
  height: 59px;
  background-color: var(--light-gray);
}

.search-btn::placeholder {
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--gray-text);
}

.search-icon {
  position: relative;
}

.search-icon::before {
  content: '';
  position: absolute;
  top: 10px;
  right: 10px;

  width: 40px;
  height: 40px;

  border-radius: 50%;
  background: url('./assets/img/icons_search.svg') no-repeat center, var(--orange);
}

.contants {
  height: 92px;
  padding: 0 85px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 5px;

  background: url('./assets/img/call-center.png') no-repeat center right;
}

.cart-block {
  position: relative;

  padding-left: 70px;
  height: 46px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background: url('./assets/img/icons_cart.svg') no-repeat center left;
}

.goodsCount {
  position: absolute;
  top: 0;
  left: 34px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;

  font-weight: bold;
  color: #ffffff;

  background-color: var(--orange);
  border-radius: 50%;
}

.main {
  max-width: 1370px;
  margin: auto;
  display: flex;
}

.item-container {
  box-sizing: border-box;
  width: 23.5rem;
  padding: 3rem 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background-color: #ffffff;
  box-shadow: 0px 14px 39px -11px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
}

.item-container:hover {
  text-shadow: none;
}

.size {
  width: 100%;
  padding: 5px 0 10px;
  display: flex;
  justify-content: flex-start;
  column-gap: 10px;
}

.title {
  align-self: flex-start;
  margin-bottom: 20px;
  font-size: 1.15rem;
  color: var(--black-text);
}

.info-list {
  line-height: 150%;
  align-self: flex-start;
  margin-bottom: 1rem;
}

.gray {
  color: var(--gray-text);
}

.bold {
  font-weight: bold;
  color: var(--black-text);
}

.order {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  column-gap: 40px;
  align-items: center;
}

.price {
  font-weight: bold;
  font-size: 16px;
  line-height: 130%;
  color: var(--black-text);
}

.order-btn {
  width: 154px;
  height: 45px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 25px;

  font-weight: bold;
  font-size: 10px;
  letter-spacing: 0.15em;

  background: url('./assets/img/icons_cart-white.svg') no-repeat center right 25px, var(--orange);
  background-size: 27px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 21px;
}

.filter-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 238px;
  margin-right: 108px;
}

.filter-title,
.filer-subtitle {
  margin: 0;
  font-size: 1.2rem;
}

.filter-form {
  padding-top: 10px;
}

.filter-prise {
  display: flex;
  flex-direction: column;
  row-gap: 1.2rem;
  padding-bottom: 30px;

  color: var(--gray-text);
}

.price-container {
  display: flex;
  max-width: 100%;
}

.btn-small {
  width: 105px;
  height: 23px;

  background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
}

.btn-small::placeholder {
  font-weight: normal;
  color: var(--gray-text);
  text-align: center;
}

.filter-producer {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding-bottom: 25px;
}

.search-btn_filter {
  width: 100%;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  row-gap: 5px;

  font-size: 1rem;
  line-height: 150%;
  color: var(--gray-text);
}

.checkbox {
  margin-right: 10px;
}

.show-all {
  position: relative;

  display: flex;
  align-items: center;

  font-weight: bold;
  font-size: 0.9rem;
  line-height: 150%;
  color: var(--gray-text);

  background-color: transparent;
  text-align: left;
}

.show-all:hover {
  background-color: transparent;
}

.caret {
  font-size: 0.5rem;
}

.formcontrol-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}
.formcontrol-container > .btn {
  height: 60px;
}

.submit {
  width: 160px;
}

.reset {
  width: 60px;

  background: url(./assets/img/bin.svg) no-repeat center, var(--orange);
}

.types-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  padding-top: 15px;
}

.type-label {
  line-height: 150%;
  color: var(--gray-text);

  cursor: pointer;
}

.type-label .type-input,
.type-label .type-input:checked {
  position: absolute;
  z-index: -1;

  display: block;
  width: 0;
  height: 0;

  opacity: 0;
}

.type-label .type-input:checked + span {
  font-weight: bold;
}
